* {
display: block;

}
body {
font-family: Georgia, 'Times New Roman', Times, serif;
margin-top: 90px;
}

header {
    background-color: darkgreen;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 20px;
    align-items: center;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
}

nav {
color: #fff;
display: flex;
flex-direction: row;
flex-grow: 20px;
align-items: center;
}

ul {
    display: flex;
    gap: 50px;
}

.name {
    font-size: xx-large;
    margin-right: auto;
    font-style: italic;
}

button {
    display: flex;
    position: static;
    float: right;
    align-items: center;
    margin: 15px;
    padding: 35px;
}

.column button img {
    max-width: 70px;
    display: flex;
    align-items: flex-start;
}

li a {
display: block;
text-decoration: none;
color: #fff;
}

li a:hover {
cursor: pointer;
background-color: palevioletred;
}

.fa {
    padding: 20px;
  font-size: 30px;
  width: 25%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: inherit;
    padding: 40px;
}

#Contact {
    font-size: larger;
}

#Contact ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

#email {
    display: flex;
    color: #000;
    align-items: center;
    margin-left: auto;
}

#email a:link {
    color: #000;
    text-decoration: none;
}

#email a:hover {
    color: #fff;
    background-color: palevioletred;
    text-decoration: underline;
}

h1, h2, h3 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}


picture {
    display: flex;
}

#avatar {
    border-style: ridge;
    flex-shrink: 1;
    max-height: 500px;
    float: left;
    padding: 10px;
    margin-right: 5px;
    background-color: aquamarine;
}

#background {
    position: fixed;
    max-width: 100%;
    background-position-x: right;
    background-position-y: bottom;
    opacity: 0.2;
    flex-shrink: 1;
    z-index: -1;
}

section {
    border-radius: 500px;
    border-style: dotted;
    margin: 20px;
    padding: 0px 75px 75px 75px;
}

.column {
    display: flex;
    justify-content: center;
    float: left;
    width: 33.33%;
    margin: auto;

}
  
.row:after {
    content: "text";
    display: table;
    clear: both;
}

@media screen and (max-width: 850px) {
    .column {
      width: 100%;
    }
    .social {
        width: 100%;
    }
    #contact {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    body {
        flex-direction: row;
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    body {
        flex-direction: row;
        min-width: 0%;
        flex-shrink: 2;

    }   
}